<div class="bg-[url(lgtm_bg.jpg)] min-h-screen p-6">
  <h1 class="text-3xl font-bold text-blue-700 mb-6 text-center">LGTM CREATER</h1>
  <div class="flex flex-col items-center mb-6">
    <p class="text-gray-800 mb-4">LGTM CREATERは、ある方に影響を受けて作成したアプリです。</p>
    <p class="text-gray-800 mb-4">ツイートに入れたい絵文字を入力すると、絵文字とLGTMを繰り返して、140文字のLGTMツイートが生成されます。</p>
    <p class="text-gray-800 mb-4">LGTMを作成して皆にLGTMしよう！</p>
  </div>

  <% if @lgtm.errors.any? %>
    <div id="error_explanation" class="bg-red-100 text-red-700 p-4 mb-4 rounded-lg">
      <h2 class="text-red-800 font-bold text-lg">エラーがあります</h2>
      <ul>
        <% @lgtm.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="notice">
    <% if flash[:notice] %>
      <div class="bg-green-100 text-green-700 p-4 mb-4 rounded-lg">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>
  </div>
  <% if flash[:alert] %>
    <div id="alert" class="bg-red-100 text-red-700 p-4 mb-4 rounded-lg">
      <p><%= flash[:alert] %></p>
    </div>
  <% end %>

  <div id="new_lgtm" class="bg-white rounded-lg shadow-md p-6 mb-6 max-w-2xl mx-auto">
    <%= form_for @lgtm, url: "/lgtm_tweet", remote: true do |f| %>
      <div class="field mb-4">
        <%= f.text_area :content, value: "🥺🫰💓🤣🦌🎉👍🎈👏㊗️", class: "h-[50px] w-full border border-blue-200 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-transparent transition" %>
      </div>
      <div class="checkbox mb-4 flex items-center">
        <%= f.check_box :save, {checked: false, class: "h-5 w-5 text-blue-600"} %>
        <%= f.label :save, "保存して全体公開する！", class: "ml-2 text-gray-700" %>
      </div>
      <div>
        <%= f.submit "LGTM!!", class: "bg-blue-400 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:cursor-pointer" %>
      </div>
    <% end %>
  </div>

  <div id="lgtm_tweet" class="bg-white rounded-lg shadow-md p-6 mb-6 max-w-2xl mx-auto">
    <div class="title mb-4">
      <p>完成したLGTM</p>
    </div>
    <%= render partial: "lgtm_tweet", locals: { lgtm: @lgtm } %>
  </div>

  <div class="flex justify-center mb-6">
    <p class="text-xl">みんなのLGTM</p>
  </div>


  <div class="flex justify-center mb-6">
    <%= search_form_for @q, url: root_path, html: { data: { turbo_frame: "lgtm" }, class: "flex gap-2 items-center bg-white rounded-lg shadow-md p-3 w-full max-w-md" } do |f| %>
      <div class="flex-grow">
        <div data-controller="autocomplete" data-autocomplete-url-value="<%= autocomplete_lgtms_path %>" role="combobox">
          <%= f.search_field :content_cont, data: { autocomplete_target: 'input' }, class: 'w-full border border-gray-200 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-transparent transition', placeholder: '絵文字入力...' %>
          <%= f.hidden_field :content, data: { autocomplete_target: 'hidden' } %>
          <ul class="list-group absolute w-[400px]" data-autocomplete-target="results"></ul>
        </div>
      </div>
      <%= button_tag type: 'submit', class: 'bg-blue-400 hover:bg-blue-600 text-white font-medium pt-2 pb-1 px-3 rounded-lg hover:shadow-md' do %>
        <span class="material-symbols-outlined">search</span>
      <% end %>
      <%= link_to  root_path, class: 'bg-gray-300 hover:bg-gray-500 text-white font-medium pt-2 pb-1 px-3 rounded-lg hover:shadow-md', data: { turbo_frame: "lgtm" } do %>
        <span class="material-symbols-outlined">refresh</span>
      <% end %>
    <% end %>
  </div>

  <%= turbo_frame_tag "lgtm" do %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 max-w-6xl mx-auto">

      <% @lgtms.each do |lgtm| %>
        <div class="bg-white rounded-lg shadow-md p-4 hover:shadow-lg transition">
          <p class="mb-4 text-gray-800 break-words"><%= lgtm.content %></p>

          <div class="flex items-center justify-end w-full">
            <div class="bg-green-300 hover:bg-green-500 text-white font-medium py-2 px-4 rounded-lg hover:cursor-pointer"
              data-lgtm-content="<%= lgtm.content %>"
              onclick="copyLgtm(this)"
              >
              <p>コピーする</p>
            </div>
          </div>

        </div>
      <% end %>

    </div>

    <div class="flex justify-center mt-8">
      <%= paginate @lgtms %>
    </div>
  </div>
  <% end %>

</div>

<script>
  function copyLgtm(element) {
    const text = element.dataset.lgtmContent;
    navigator.clipboard.writeText(text);
    alert('コピー成功👍');
  }
</script>

